// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright 2019 Sven Schwermer
 */

/dts-v1/;
#include <dt-bindings/gpio/gpio.h>
#include "imx6ull.dtsi"

/ {
	model = "MYiR MYS-6ULX-IOT";
	compatible = "myir,mys-6ulx-iot", "fsl,imx6ull";

	chosen {
		stdout-path = &uart1;
	};

	reg_vdd_3v3: regulator-vdd-3v3 {
		compatible = "regulator-fixed";
		regulator-name = "VDD_3V3";
		regulator-always-on;
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
	};
};

&adc1 {
	vref-supply = <&reg_vdd_3v3>;
};

&fec1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_enet1 &pinctrl_ethphy_reset>;
	phy-mode = "rmii";
	phy-handle = <&ethphy>;
	phy-reset-gpios = <&gpio5 6 GPIO_ACTIVE_LOW>;
	status = "okay";

	mdio {
		#address-cells = <1>;
		#size-cells = <0>;

		ethphy: ethernet-phy@0 {
			compatible = "ethernet-phy-ieee802.3-c22";
			reg = <0>;
		};
	};
};

/*
&gpmi {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_gpmi_nand>;
	nand-on-flash-bbt;
	nand-ecc-mode = "hw";
	nand-ecc-strength = <8>;
	nand-ecc-step-size = <512>;
	status = "okay";
};
*/

&sdma {
	status = "okay";
};

&snvs_pwrkey {
	status = "disabled";
};

&uart1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart1>;
	status = "okay";
};

&usbotg1 {
	dr_mode = "otg";
	srp-disable;
	hnp-disable;
	adp-disable;
	status = "okay";
};

&usbotg2 {
	dr_mode = "host";
	status = "okay";
};

&usdhc1 {
	pinctrl-names = "default", "state_100mhz", "state_200mhz";
	pinctrl-0 = <&pinctrl_usdhc1 &pinctrl_usdhc1_cd>;
	pinctrl-1 = <&pinctrl_usdhc1_100mhz>;
	pinctrl-2 = <&pinctrl_usdhc1_200mhz>;
	assigned-clocks = <&clks IMX6UL_CLK_USDHC1_SEL>, <&clks IMX6UL_CLK_USDHC1>;
	assigned-clock-parents = <&clks IMX6UL_CLK_PLL2_PFD2>;
	assigned-clock-rates = <0>, <198000000>;
	cd-gpios = <&gpio1 19 GPIO_ACTIVE_LOW>;
	bus-width = <4>;
	status = "okay";
};

&iomuxc {
	pinctrl_enet1: enet1-grp {
		fsl,pins = <
			MX6UL_PAD_GPIO1_IO06__ENET1_MDIO	0x1b0b0
			MX6UL_PAD_GPIO1_IO07__ENET1_MDC		0x1b0b0
			MX6UL_PAD_ENET1_RX_DATA0__ENET1_RDATA00	0x1b0b0
			MX6UL_PAD_ENET1_RX_DATA1__ENET1_RDATA01	0x1b0b0
			MX6UL_PAD_ENET1_RX_EN__ENET1_RX_EN	0x1b0b0
			MX6UL_PAD_ENET1_RX_ER__ENET1_RX_ER	0x1b0b0
			MX6UL_PAD_ENET1_TX_CLK__ENET1_REF_CLK1	0x4001b031
			MX6UL_PAD_ENET1_TX_DATA0__ENET1_TDATA00	0x1b0b0
			MX6UL_PAD_ENET1_TX_DATA1__ENET1_TDATA01	0x1b0b0
			MX6UL_PAD_ENET1_TX_EN__ENET1_TX_EN	0x1b0b0
		>;
	};

	pinctrl_uart1: uart1-grp {
		fsl,pins = <
			MX6UL_PAD_UART1_TX_DATA__UART1_DCE_TX	0x1b0b1
			MX6UL_PAD_UART1_RX_DATA__UART1_DCE_RX	0x1b0b1
		>;
	};

	pinctrl_usdhc1: usdhc1-grp {
		fsl,pins = <
			MX6UL_PAD_SD1_CLK__USDHC1_CLK       0x17059
			MX6UL_PAD_SD1_CMD__USDHC1_CMD       0x10059
			MX6UL_PAD_SD1_DATA0__USDHC1_DATA0   0x17059
			MX6UL_PAD_SD1_DATA1__USDHC1_DATA1   0x17059
			MX6UL_PAD_SD1_DATA2__USDHC1_DATA2   0x17059
			MX6UL_PAD_SD1_DATA3__USDHC1_DATA3   0x17059
		>;
	};

	pinctrl_usdhc1_100mhz: usdhc1-100mhz-grp {
		fsl,pins = <
			MX6UL_PAD_SD1_CLK__USDHC1_CLK       0x170b9
			MX6UL_PAD_SD1_CMD__USDHC1_CMD       0x100b9
			MX6UL_PAD_SD1_DATA0__USDHC1_DATA0   0x170b9
			MX6UL_PAD_SD1_DATA1__USDHC1_DATA1   0x170b9
			MX6UL_PAD_SD1_DATA2__USDHC1_DATA2   0x170b9
			MX6UL_PAD_SD1_DATA3__USDHC1_DATA3   0x170b9
		>;
	};

	pinctrl_usdhc1_200mhz: usdhc1-200mhz-grp {
		fsl,pins = <
			MX6UL_PAD_SD1_CLK__USDHC1_CLK       0x170f9
			MX6UL_PAD_SD1_CMD__USDHC1_CMD       0x100f9
			MX6UL_PAD_SD1_DATA0__USDHC1_DATA0   0x170b9
			MX6UL_PAD_SD1_DATA1__USDHC1_DATA1   0x170b9
			MX6UL_PAD_SD1_DATA2__USDHC1_DATA2   0x170b9
			MX6UL_PAD_SD1_DATA3__USDHC1_DATA3   0x170b9
		>;
	};

	pinctrl_usdhc1_cd: usdhc1-cd-grp {
		fsl,pins = <
			MX6UL_PAD_UART1_RTS_B__GPIO1_IO19	0x100b0
		>;
	};
};

&iomuxc_snvs {
	pinctrl_ethphy_reset: ethphy-grp {
		fsl,pins = <
			MX6ULL_PAD_SNVS_TAMPER6__GPIO5_IO06 0x130b0
		>;
	};
};
